{% extends 'AdminTemplate1.html.twig ' %}


{% block rightside %}

    <div class="container-fluid">
    {{ form_start(form) }}


    {{ form_end(form) }}
    </div>


    <p style="color: green">{{ worked }}</p>
    <p style="color: red">{{ error }}</p>

{% endblock %}
