{% extends 'AdminTemplate1.html.twig ' %}


{% block rightside %}

    {{ form_start(form) }}




    {{ form_end(form) }}

    <div>
        <button class="button btn-primary" onclick="goback()">Back</button>


    </div>




    {{ dump() }}
{% endblock %}