{% extends 'AdminTemplate1.html.twig ' %}

{% block rightside %}

    <div class="jumbotron">
        <h1>error</h1>
        <p>
            Someething went terrible wrong, check these things
        <span style="color: red">{{ errorbody }}</span>

        </p>



    </div>
{% endblock %}