{% extends 'AdminTemplate1.html.twig ' %}

{% block rightside %}

    <div class="jumbotron">
        <h1>{{ item }} deleted</h1>

        <button onclick="goback()">Go Back</button>

    </div>

{% endblock %}