{% extends "BaseTemplate1.html.twig" %}

{% block rightside %}

    <div class="jumbotron">
        <h1 style="color:red;">Error</h1>
        <p>
            Someething went terrible wrong, call administrator immediately


        </p>



    </div>
{% endblock %}