{% extends 'AdminTemplate1.html.twig ' %}

{% block rightside %}
<div class="jumbotron">
    <h1>Hello {{ name.firstname }} {{ name.lastname }}</h1>

    <p>Feel free to roam arround on the Admin backend, </p>


</div>


{% endblock %}