{% extends 'BaseTemplate1.html.twig ' %}

{% block title %}Biography{% endblock %}

{% block sidebarcontent %}


    <h1>Band Members</h1>

    <p><a href="{{ path('Biography') }}">
            <button class="btn btn-info">The Band</button>
        </a>
    </p>



{% endblock %}

{% block content %}


    <div class="jumbotron">
        {% for spMembers in spMember %}
            <h1>{{ spMembers.firstName }} {{ spMembers.lastName }}</h1>
            <p>
                {{ spMembers.content|raw }}
            </p>




        {% endfor %}
    </div>


{% endblock %}