{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Photos{% endblock %}
{% block contentmaster %}
    <div class="photos">

        <div class="jumbotron">

            {{ dump() }}

        </div>
</div>

{% endblock %}
