{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Videos{% endblock %}
{% block contentmaster %}
    <div class="albumVideos">

        <div class="jumbotron">

            {{ dump() }}


        </div>




</div>

{% endblock %}
