{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Videos{% endblock %}
{% block contentmaster %}
    <div class="albumVideos">



        <div class="container-fluid">
            <div class="row">


                    {% if videos is  empty  %}

                        <div class="col-md-4">
                            <div class="jumbotron">
                                <h1>Nothing to see here</h1>
                                <p>...yet!</p>


                            </div>
                        </div>




                {% else %}
                    <div class="lpTitle">
                    <h1>{{ videos.0.album.name }}</h1>

                </div>
                {% for vid in videos %}
                    <div class="col-md-4">
                        <div class="jumbotron">

                            <h2>{{ vid.title }}</h2>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ vid.link }}"></iframe>


                            </div>

                        </div>
                    </div>
                {% endfor %}

                {% endif %}
            </div>


        </div>


    </div>

    <div class="jumbotron">




    </div>

{% endblock %}
