{% extends 'BaseTemplate1.html.twig ' %}


{% block title %}Photos{% endblock %}
{% block contentmaster %}
    <div class="photos">



        </div>

            <div class="container-fluid">
            <div class="row">

            {% for file  in Values %}
                <div class="col-md-4">


                <div class="thumbnail">
                <img src={{ asset('bundles/framework/images/album/') }}{{ path }}/{{ file }}>


                </div>
                    </div>
            {% endfor %}

            </div>


        </div>
</div>

{% endblock %}
